@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:500,500italic,700,700italic&display=swap');

$primary-font: "Roboto, \'Helvetica Neue\', Gotham, Helvetica, Arial, sans-serif";
$secondary-font: "Vollkorn, Cambria, \'Hoefler text\', \'Liberation Serif\', Times, \'Times New Roman\', serif";

// Base font weights
$regular: 400;
$medium: 500;
$bold: 700;

html {
    font-family: unquote($primary-font);
}

sup {
    font-size: smaller;
    vertical-align: super;
}

// Font family mixins
@mixin primary-font {
    font-family: unquote($primary-font);
}

@mixin secondary-font {
    font-family: unquote($secondary-font);
    font-weight: $medium;
}

// Font size mixins
@mixin fsize-14 {
    font-size: 14px;
    line-height: 20px;
}

@mixin fsize-16 {
    font-size: 16px;
    line-height: 19px;
}

@mixin fsize-20 {
    font-size: 20px;
    line-height: 24px;
}

@mixin fsize-24 {
    font-size: 24px;
    line-height: 29px;
}
