// Font color classes
.ap-u-fcolour {
    &--blue {
        color: $blue-100;
    }

    &--dark-blue {
        color: $blue-dark;
    }

    &--grey {
        color: $grey;
    }

    &--white {
        color: $white;
    }

    &--purple {
        color: $purple-100;
    }
}
