// These variables are used by the breakpoint mixins (mixins/_breakpoints.scss)
$mobile-upper: 599px;
$tablet-portrait-lower: 600px;
$tablet-portrait-upper: 899px;
$tablet-landscape-lower: 900px;
$tablet-landscape-upper: 1199px;
$desktop-lower: 1200px;
$desktop-upper: 1799px;
$big-desktop-lower: 1800px;
