.ap-icon {
    $self: &; // Notes: https: //css-tricks.com/using-sass-control-scope-bem-naming/

    //Icon sizes
    $icon-sizes: ('tiny': 16px, 'small': 24px, 'medium': 32px, 'ui': 40px, 'large': 88px, 'maxi': 152px);

    //Icons and their file locations
    //Where `ap-icon--[size]` is shown, replace with size from `$icon-sizes` e.g. `ap-icon--small`
    $icons: (
        'hamburger--primary': (
            //Use as: `<div class="ap-icon ap-icon--hamburger--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/hamburger--primary.svg',
        ),
        'hamburger-close--primary': (
            //Use as: `<div class="ap-icon ap-icon--hamburger-close--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/hamburger-close--primary.svg',
        ),
        'callback--primary': (
            //Use as: `<div class="ap-icon ap-icon--callback--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/callback--primary.svg',
        ),
        'callback-alt--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--callback-alt--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/callback-alt--primary-medium.svg',
        ),
        'tooltip--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--tooltip--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/tooltip--primary-medium.svg',
        ),
        'tooltip--error': (
            //Use as: `<div class="ap-icon ap-icon--tooltip--error ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/tooltip--error.svg',
        ),
        'chevron-left--primary': (
            //Use as: `<div class="ap-icon ap-icon--chevron-left--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/chevron-left--primary.svg',
        ),
        'chevron-right--primary': (
            //Use as: `<div class="ap-icon ap-icon--chevron-right--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/chevron-right--primary.svg',
        ),
        'chevron-down--primary': (
            //Use as: `<div class="ap-icon ap-icon--chevron-down--primar ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/chevron-down--primary.svg',
        ),
        'chevron-left--circular-secondary-solid': (
            //Use as: `<div class="ap-icon ap-icon--chevron-left--circular-secondary-solid ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/chevron-left-circular-secondary-solid.svg',
        ),
        'chevron-right--circular-secondary-solid': (
            //Use as: `<div class="ap-icon ap-icon--chevron-right--circular-secondary-solid ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/chevron-right-circular-secondary-solid.svg',
        ),
        'arrow-down--primary': (
            //Use as: `<div class="ap-icon ap-icon--arrow-down--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/arrow-down--primary.svg',
        ),
        'phone--circular-primary': (
            //Use as: `<div class="ap-icon ap-icon--phone--circular-primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/phone--circular--primary.svg',
        ),
        'phone--circular-alt-primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--phone--circular-alt-primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/phone--circular--primary-medium.svg',
        ),
        'money--primary': (
            //Use as: `<div class="ap-icon ap-icon--money--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/money--primary.svg',
        ),
        'tick--primary': (
            //Use as: `<div class="ap-icon ap-icon--tick--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/tick--primary.svg',
        ),
        'tick--circular-secondary': (
            //Use as: `<div class="ap-icon ap-icon--tick--circular-secondary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/tick--circular-secondary.svg',
        ),
        'tick--circular--primary': (
            //Use as: `<div class="ap-icon ap-icon--tick--circular--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/tick--circular--primary.svg',
        ),
        'tick--circular-success-solid': (
            //Use as: `<div class="ap-icon ap-icon--tick--circular-success-solid ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/tick--circular-success-solid.svg',
        ),
        'document--primary': (
            //Use as: `<div class="ap-icon ap-icon--document--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/document--primary.svg',
        ),
        'document--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--document--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/document--primary-medium.svg',
        ),
        'book--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--book--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/book--primary-medium.svg',
        ),
        'book--primary': (
            //Use as: `<div class="ap-icon ap-icon--book--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/book--primary.svg',
        ),
        'close--primary': (
            //Use as: `<div class="ap-icon ap-icon--close--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/close--primary.svg',
        ),
        'close--circular-primary-light-solid': (
            //Use as: `<div class="ap-icon ap-icon--close--circular-primary-light-solid ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/close--circular-primary-light-solid.svg',
        ),
        'plus--primary': (
            //Use as: `<div class="ap-icon ap-icon--plus--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/plus--primary.svg',
        ),
        'minus--primary': (
            //Use as: `<div class="ap-icon ap-icon--minus--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/minus--primary.svg',
        ),
        'email--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--email--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/email--primary-medium.svg',
        ),
        'award--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--award--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/award--primary-medium.svg',
        ),
        'award--primary': (
            //Use as: `<div class="ap-icon ap-icon--award--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/award--primary.svg',
        ),
        'clock--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--clock--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/clock--primary-medium.svg',
        ),
        'clock--primary': (
            //Use as: `<div class="ap-icon ap-icon--clock--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/clock--primary.svg',
        ),
        'customer--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--customer--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/customer--primary-medium.svg',
        ),
        'customer--primary': (
            //Use as: `<div class="ap-icon ap-icon--customer--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/customer--primary.svg',
        ),
        'coin--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--coin--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/coin--primary-medium.svg',
        ),
        'people--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--people--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/people--primary-medium.svg',
        ),
        'people--primary': (
            //Use as: `<div class="ap-icon ap-icon--people--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/people--primary.svg',
        ),
        'people--secondary': (
            //Use as: `<div class="ap-icon ap-icon--people--secondary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/people--secondary.svg',
        ),
        'graph--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--graph--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/graph--primary-medium.svg',
        ),
        'graph--primary': (
            //Use as: `<div class="ap-icon ap-icon--graph--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/graph--primary.svg',
        ),
        'suitcase--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--suitcase--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/suitcase--primary-medium.svg',
        ),
        'suitcase--primary': (
            //Use as: `<div class="ap-icon ap-icon--suitcase--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/suitcase--primary.svg',
        ),
        'suitcase--secondary': (
            //Use as: `<div class="ap-icon ap-icon--suitcase-- ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/suitcase--secondary.svg',
        ),
        'equity-release--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--equity-release--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/equity-release--primary-medium.svg',
        ),
        'equity-release--primary': (
            //Use as: `<div class="ap-icon ap-icon--equity-release--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/equity-release--primary.svg',
        ),
        'equity-release--secondary': (
            //Use as: `<div class="ap-icon ap-icon--equity-release--secondary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/equity-release--secondary.svg',
        ),
        'social-linkedin--primary': (
            //Use as: `<div class="ap-icon ap-icon--social-linkedin--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/social-linkedin--primary.svg',
        ),
        'social-facebook--primary': (
            //Use as: `<div class="ap-icon ap-icon--social-facebook--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/social-facebook--primary.svg',
        ),
        'social-twitter--primary': (
            //Use as: `<div class="ap-icon ap-icon--social-twitter--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/social-twitter--primary.svg',
        ),
        'social-youtube--primary': (
            //Use as: `<div class="ap-icon ap-icon--social-youtube--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/social-youtube--primary.svg',
        ),
        'social-linkedin--circular-primary-solid': (
            //Use as: `<div class="ap-icon ap-icon--social-linkedin--circular-primary-solid ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/social-linkedin--circular-primary-solid.svg',
        ),
        'social-facebook--circular-primary-solid': (
            //Use as: `<div class="ap-icon ap-icon--social-facebook--circular-primary-solid ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/social-facebook--circular-primary-solid.svg',
        ),
        'social-twitter--circular-primary-solid': (
            //Use as: `<div class="ap-icon ap-icon--social-twitter--circular-primary-solid ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/social-twitter--circular-primary-solid.svg',
        ),
        'social-youtube--circular-primary-solid': (
            //Use as: `<div class="ap-icon ap-icon--social-youtube--circular-primary-solid ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/social-youtube--circular-primary-solid.svg',
        ),
        'checkboxes--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--checkboxes--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/checkboxes--primary-medium.svg',
        ),
        'checkboxes--primary': (
            //Use as: `<div class="ap-icon ap-icon--checkboxes--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/checkboxes--primary.svg',
        ),
        'checkboxes--secondary': (
            //Use as: `<div class="ap-icon ap-icon--checkboxes--secondary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/checkboxes--secondary.svg',
        ),
        'home-improvements--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--home-improvements--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/home-improvements--primary-medium.svg',
        ),
        'home-improvements--primary': (
            //Use as: `<div class="ap-icon ap-icon--home-improvements--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/home-improvements--primary.svg',
        ),
        'home-improvements--secondary': (
            //Use as: `<div class="ap-icon ap-icon--home-improvements--secondary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/home-improvements--secondary.svg',
        ),
        'pig-money-box--primary': (
            //Use as: `<div class="ap-icon ap-icon--pig-money-box--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/pig-money-box--primary.svg',
        ),
        'shaking-hands--primary': (
            //Use as: `<div class="ap-icon ap-icon--shaking-hands--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/shaking-hands--primary.svg',
        ),
        'briefcase--primary': (
            //Use as: `<div class="ap-icon ap-icon--briefcase--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/briefcase--primary.svg',
        ),
        'calculator--primary': (
            //Use as: `<div class="ap-icon ap-icon--calculator--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/calculator--primary.svg',
        ),
        'calculator--primary-medium': (
            //Use as: `<div class="ap-icon ap-icon--calculator--primary-medium ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/calculator--primary-medium.svg',
        ),
        'calendar--primary': (
            //Use as: `<div class="ap-icon ap-icon--calendar--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/calendar--primary.svg',
        ),
        'checkbox--primary': (
            //Use as: `<div class="ap-icon ap-icon--checkbox--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/checkbox--primary.svg',
        ),
        'clipboard--primary': (
            //Use as: `<div class="ap-icon ap-icon--clipboard--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/clipboard--primary.svg',
        ),
        'cogs--primary': (
            //Use as: `<div class="ap-icon ap-icon--cogs--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/cogs--primary.svg',
        ),
        'coin-pile--primary': (
            //Use as: `<div class="ap-icon ap-icon--coin-pile--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/coin-pile--primary.svg',
        ),
        'devices--primary': (
            //Use as: `<div class="ap-icon ap-icon--devices--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/devices--primary.svg',
        ),
        'footprint--primary': (
            //Use as: `<div class="ap-icon ap-icon--footprint--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/footprint--primary.svg',
        ),
        'gavel--primary': (
            //Use as: `<div class="ap-icon ap-icon--gavel--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/gavel--primary.svg',
        ),
        'heart--primary': (
            //Use as: `<div class="ap-icon ap-icon--heart--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/heart--primary.svg',
        ),
        'letter--primary': (
            //Use as: `<div class="ap-icon ap-icon--letter--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/letter--primary.svg',
        ),
        'lightbulb--primary': (
            //Use as: `<div class="ap-icon ap-icon--lightbulb--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/lightbulb--primary.svg',
        ),
        'lightning-fire--primary': (
            //Use as: `<div class="ap-icon ap-icon--lightning-fire--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/lightning-fire--primary.svg',
        ),
        'magnifying-glass--primary': (
            //Use as: `<div class="ap-icon ap-icon--magnifying-glass--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/magnifying-glass--primary.svg',
        ),
        'megaphone--primary': (
            //Use as: `<div class="ap-icon ap-icon--megaphone--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/megaphone--primary.svg',
        ),
        'paintbrush--primary': (
            //Use as: `<div class="ap-icon ap-icon--paintbrush--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/paintbrush--primary.svg',
        ),
        'percentage--primary': (
            //Use as: `<div class="ap-icon ap-icon--percentage--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/percentage--primary.svg',
        ),
        'play--primary': (
            //Use as: `<div class="ap-icon ap-icon--play--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/play--primary.svg',
        ),
        'rocket--primary': (
            //Use as: `<div class="ap-icon ap-icon--rocket--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/rocket--primary.svg',
        ),
        'search--primary': (
            //Use as: `<div class="ap-icon ap-icon--search--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/search--primary.svg',
        ),
        'signature--primary': (
            //Use as: `<div class="ap-icon ap-icon--signature--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/signature--primary.svg',
        ),
        'smiley-face--primary': (
            //Use as: `<div class="ap-icon ap-icon--smiley-face--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/smiley-face--primary.svg',
        ),
        'star--primary': (
            //Use as: `<div class="ap-icon ap-icon--star--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/star--primary.svg',
        ),
        'sun--primary': (
            //Use as: `<div class="ap-icon ap-icon--sun--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/sun--primary.svg',
        ),
        'target--primary': (
            //Use as: `<div class="ap-icon ap-icon--target--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/target--primary.svg',
        ),
        'trophy--primary': (
            //Use as: `<div class="ap-icon ap-icon--trophy--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/trophy--primary.svg',
        ),
        'wallet--primary': (
            //Use as: `<div class="ap-icon ap-icon--wallet--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/wallet--primary.svg',
        ),
        'house--primary': (
            //Use as: `<div class="ap-icon ap-icon--house--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/house--primary.svg',
        ),
        'house-and-coins--primary': (
            //Use as: `<div class="ap-icon ap-icon--house-and-coins--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/house-and-coins--primary.svg',
        ),
        'pointer--primary': (
            //Use as: `<div class="ap-icon ap-icon--pointer--primary ap-icon--[size]"></div>`
            'asset': $brand-assets-dir + 'images/icons/pointer--primary.svg',
        )
    );

    //Icon Markup mixin
    @mixin icon-markup($asset-url, $mask-enable: false) {
        @if $mask-enable == true {
            mask-image: url(#{$asset-url});
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;

        } @else {
            background-image: url(#{$asset-url});
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    //Loop through all icons and create their CSS markup
    @each $icon, $config in $icons {
        &#{ $self }--#{$icon} {
            @include icon-markup(map-get($config, 'asset'), false);

            //If mask class is used, display the icon as an image mask
            &.ap-icon--mask {
                background-image: none; //Disable background image as we're now using image mask
                @include icon-markup(map-get($config, 'asset'), true);
            }
        }
    }

    //Create icon sizes
    @each $name, $size in $icon-sizes {
        &#{ $self }--#{$name} {
            height: #{$size};
            width: #{$size};
        }
    }
}
