@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Base font stack
$font: "Open Sans", Helvetica, Arial, "Liberation Sans", sans-serif;

// Base font weights
$light: 300;
$regular: 400;
$bold: 700;

// Initialise font use on the html element
html {
    font-family: $font;
}

// Font size mixins
// You can use these mixins directly in a component or module to trigger the font size rules. Alternatively, you can use the classes to add to your HTML to trigger font sizes without needing to edit any Sass files
@mixin fsize-12 {
    font-size: 12px;
    line-height: 15px;
}

@mixin fsize-14 {
    font-size: 14px;
    line-height: 16px;
}

@mixin fsize-16 {
    font-size: 16px;
    line-height: 18px;
}

@mixin fsize-18 {
    font-size: 18px;
    line-height: 21px;
}

@mixin fsize-24 {
    font-size: 18px;
    line-height: 21px;

    @include breakpoint(tablet-portrait-up) {
        font-size: 22px;
        line-height: 25px;
    }

    @include breakpoint(tablet-landscape-up) {
        font-size: 24px;
        line-height: 28px;
    }
}

@mixin fsize-28 {
    font-size: 22px;
    line-height: 25px;

    @include breakpoint(tablet-portrait-up) {
        font-size: 26px;
        line-height: 29px;
    }

    @include breakpoint(tablet-landscape-up) {
        font-size: 28px;
        line-height: 31px;
    }
}

@mixin fsize-36 {
    font-size: 22px;
    line-height: 25px;

    @include breakpoint(tablet-portrait-up) {
        font-size: 30px;
        line-height: 33px;
    }

    @include breakpoint(tablet-landscape-up) {
        font-size: 36px;
        line-height: 40px;
    }
}

@mixin fsize-42 {
    font-size: 22px;
    line-height: 25px;

    @include breakpoint(tablet-portrait-up) {
        font-size: 36px;
        line-height: 40px;
    }

    @include breakpoint(tablet-landscape-up) {
        font-size: 42px;
        line-height: 46px;
    }
}


// Font size classes
.ap-u-fsize {
    &--12 {
        @include fsize-12;
    }

    &--14 {
        @include fsize-14;
    }

    &--16 {
        @include fsize-16;
    }

    &--18 {
        @include fsize-18;
    }

    &--24 {
        @include fsize-24;
    }

    &--28 {
        @include fsize-28;
    }

    &--36 {
        @include fsize-36;
    }

    &--42 {
        @include fsize-42;
    }
}

// Font weight classes
.ap-u-fweight {
    &--light {
        font-weight: $light;
    }

    &--regular {
        font-weight: $regular;
    }

    &--bold {
        font-weight: $bold;
    }
}


// Font color classes
.ap-u-fcolour {
    &--blue {
        color: $blue;
    }

    &--dark-blue {
        color: $blue-6;
    }

    &--grey {
        color: $grey;
    }

    &--dark-grey {
        color: $grey-4;
    }

    &--white {
        color: $white;
    }
}