// Use this file to test the Sass in this package compiles with no errors.

// Open terminal and run: sass --watch 'test.scss':'test.css' --style compressed

// All errors must be fixed before a release is rolled out

//Testing for Default
$space: 16px; //Already included in `config/_config.space.scss`, but we can overwrite and use this value instead
@import 'node_modules/@agepartnership/oleg-starter-pack/all';
@import 'config';
@import 'utilities';

.test {
    margin: $space;
}


//Testing for rebuild
$base-unit: 16px; //Already included in `rebuild/config/_base-unit.scss`, but we can overwrite and use this value instead
@import 'node_modules/@agepartnership/oleg-starter-pack/all';
@import 'rebuild/config';
@import 'rebuild/utilities';

.test--rebuild {
    margin: $space;     //In Rebuild `$space` uses the `$base-unit` value
    border: $base-unit;
}