// Font size classes
.ap-u-fsize {
    &--12 {
        @include fsize-12;
    }

    &--14 {
        @include fsize-14;
    }

    &--16 {
        @include fsize-16;
    }

    &--18 {
        @include fsize-18;
    }

    &--24 {
        @include fsize-24;
    }

    &--28 {
        @include fsize-28;
    }

    &--36 {
        @include fsize-36;
    }

    &--42 {
        @include fsize-42;
    }
}

// Font weight classes
.ap-u-fweight {
    &--light {
        font-weight: $light;
    }

    &--regular {
        font-weight: $regular;
    }

    &--semi-bold {
        font-weight: $semi-bold;
    }

    &--bold {
        font-weight: $bold;
    }
}


// Font color classes
.ap-u-fcolour {
    &--blue {
        color: $blue;
    }

    &--dark-blue {
        color: $blue-6;
    }

    &--green {
        color: $green;
    }

    &--grey {
        color: $grey;
    }

    &--dark-grey {
        color: $grey-4;
    }

    &--white {
        color: $white;
    }

    &--plum {
        color: $plum;
    }

    &--gold {
        color: $gold;
    }
}
