// Base Colour
// Blue shades
$blue-6: #0c2a45;
$blue-5: #123f68;
$blue-4: #19558c;
$blue-3: #517fa8;
$blue-2: #8caac5;
$blue-1: #e9f1f9;

// Red shades
$red-4: #891722;
$red-3: #b8202e;
$red-2: #bf3643;
$red-1: #db8f96;

// Plum - NOTE: The print guidelines labels these shades as "Red" but they're definitely not red...
$plum-1: #f6e9ee;
$plum-2: #e8c7d5;
$plum-3: #d290ab;
$plum-4: #a62258;

// Green
$green-1: #e6f1f1;
$green-2: #bfdcdc;
$green-3: #80b9b9;
$green-4: #007474;

// Grey shades
$grey-6: #1c1c1c;
$grey-5: #565656;
$grey-4: #747474;
$grey-3: #969696;
$grey-2: #dcdcdc;
$grey-1: #f7f7f7;

// Core brand colours
$blue: $blue-4;
$gold: #cabc0e;
$red: $red-3;
$plum: $plum-4;
$green: $green-4;
$grey: $grey-5;

// Secondary tint colours
$pale-blue: #d2e2f0;
$pale-yellow: #fffcd5;
$warm-grey: #f1edea;
$cool-grey: #e6e7e8;

$white: #fff;
$black: #000;
