// Base Colour
// Blue shades
$blue-6: #0C2A45;
$blue-5: #123F68;
$blue-4: #19558C;
$blue-3: #517FA8;
$blue-2: #8CAAC5;
$blue-1: #E9F1F9;

// Red shades
$red-4: #891722;
$red-3: #B8202E;
$red-2: #BF3643;
$red-1: #DB8F96;

// Plum - NOTE: The print guidelines labels these shades as "Red" but they're definitely not red...
$plum-1: #F6E9EE;
$plum-2: #E8C7D5;
$plum-3: #D290AB;
$plum-4: #A62258;

// Green
$green-1: #E6F1F1;
$green-2: #BFDCDC;
$green-3: #80B9B9;
$green-4: #007474;

// Grey shades
$grey-6: #1C1C1C;
$grey-5: #565656;
$grey-4: #747474;
$grey-3: #969696;
$grey-2: #DCDCDC;
$grey-1: #f7f7f7;

// Core brand colours
$blue: $blue-4;
$gold: #CABC0E;
$red: $red-3;
$plum: $plum-4;
$green: $green-4;
$grey: $grey-5;

// Secondary tint colours
$pale-blue: #D2E2F0;
$pale-yellow: #FFFCD5;
$warm-grey: #f1edea;
$cool-grey: #e6e7e8;

$white: #fff;
$black: #000;
