$paragraph-color: null;
$paragraph-font-size: null;
$paragraph-font-weight: null;
$paragraph-line-height: null;
$paragraph-margin-top: null;
$paragraph-margin-right: null;
$paragraph-margin-bottom: null;
$paragraph-margin-left: null;
$paragraph-padding: null;
$paragraph-text-align: null;

$paragraph-highlighted-color: null;
$paragraph-highlighted-font-size: null;
$paragraph-highlighted-font-weight: null;
$paragraph-highlighted-line-height: null;
$paragraph-highlighted-margin: null;

$paragraph-step-3-color: null;
$paragraph-step-3-font-size: null;
$paragraph-step-3-font-weight: null;
$paragraph-step-3-line-height: null;
$paragraph-step-3-margin: null;

$paragraph-font-size--mobile: null;
$paragraph-highlighted-margin--mobile: null;
