/* stylelint-disable declaration-colon-space-after -- Better grid-template-area readability */
.grid {
    // 4 groups, 2 columns, 6 rows
    &--4x2x6 {
        grid-template-areas:
            'a-1'
            'b-1'
            'a-2'
            'b-2'
            'a-3'
            'b-3'
            'c-1'
            'd-1'
            'c-2'
            'd-2'
            'c-3'
            'd-3';
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, auto);

        @include breakpoint(tablet-portrait-up) {
            grid-template-areas:
                'a-1 b-1'
                'a-2 b-2'
                'a-3 b-3'
                'c-1 d-1'
                'c-2 d-2'
                'c-3 d-3';
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, auto);
        }
    }

    &--2x2x2 {
        grid-template-areas:
            'block-1-col-1-row-1 block-2-col-2-row-1'
            'block-1-col-1-row-2 block-2-col-2-row-2';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    &--4x2x2 {
        grid-template-areas:
            'block-1-col-1-row-1 block-2-col-2-row-1'
            'block-3-col-1-row-2 block-4-col-2-row-2';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    &__area {
        @for $block from 1 through 4 {
            @for $col from 1 through 2 {
                @for $row from 1 through 6 {
                    &--block-#{$block}-col-#{$col}-row-#{$row} {
                        grid-area: block-#{$block}-col-#{$col}-row-#{$row};
                    }
                }
            }
        }
    }
};
