// Font weight classes
.ap-u-fweight {
    &--light {
        font-weight: $light;
    }

    &--regular {
        font-weight: $regular;
    }

    &--semi-bold {
        font-weight: $semi-bold;
    }

    &--bold {
        font-weight: $bold;
    }
}
