// Black
$black: #1d1d1b;

// White
$white: #fff;

// Maroon
$maroon-4: #a91c50;
$maroon-3: #d1919d;
$maroon-2: #e7c9ce;
$maroon-1: #f5e9eb;
$maroon: $maroon-4;

// Grey
$grey: #f2f1f1;
$grey-warm: #f7f3f2;
