// Black
$black: #221f20; // H1 colour, colour of input and content-box borders

$black-other: #000; // H2 colour
// White
$white: #fff;

// Plum
$plum: #9d013b;
$plum-light: #c9004a;
$plum-dark: #630024;

$red: #bf0e39; // For errors

$grey: #3e3e3f; // Body colour
$grey-light: #edeceb; // Body background
$grey-where: #d1d2d4; // Divider
