// Black
$black: #000;

// White
$white: #fff;

// Red
$red: #b8202e; // APW $red (used for error styles)

// Maroon
$maroon: #9d013b;
$maroon-light: #bf3643; // AP $red-2 (For hover styles) - TODO... Fix - these are definitely not maroon!
$maroon-dark: #891722; // AP $red-4 (For focus styles) - TODO... Fix - these are definitely not maroon!

$grey: #3e3e3f; // TODO: Confirm (Taken from designs)
$grey-light: #f7f3f2;
$grey-dark: #1c1c1c;
