// Core brand colours
$blue: #1F3B70;
$light-blue: #206BA2;
$dark-blue: #090E31;

$red: #DC320E;
$dark-red: #BB2F0F;

$gold: #BDBD1F

$grey: #333333;
$light-grey: #EFEDE9;

$white: #fff;
$black: #000;
