// Core brand colours
$blue: #1f3b70;
$light-blue: #206ba2;
$dark-blue: #090e31;

$red: #dc320e;
$dark-red: #bb2f0f;

$gold: #bdbd1f;

$pale-yellow: #f6f6d7;

$grey: #333;
$light-grey: #efede9;

$white: #fff;
$black: #000;
