// Core brand colours
$blue: #1F3B70; // Temp whilst stylesheets are running in tandem
$rebrand-blue: $blue;
$light-blue: #206BA2;
$dark-blue: #090E31;

$red: #DC320E;
$rebrand-red: $red; // Temp whilst stylesheets are running in tandem
$dark-red: #BB2F0F;

$gold: #BDBD1F;
$rebrand-gold: $gold; // Temp whilst stylesheets are running in tandem

$grey: #333333;
$light-grey: #EFEDE9;

$white: #fff;
$black: #000;
