@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap'); // sass-lint:disable-line no-url-domains no-url-protocols

// Base font stack
$font: 'Open Sans', Helvetica, Arial, 'Liberation Sans', sans-serif;

// Base font weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Initialise font use on the html element
html {
    font-family: $font;
}

// Reset sup styles to override the reset in oleg-starter-pack
sup {
    font-size: smaller;
    vertical-align: super;
}

// Font size mixins
// You can use these mixins directly in a component or module to trigger the font size rules. Alternatively, you can use the classes to add to your HTML to trigger font sizes without needing to edit any Sass files
@mixin fsize-12 {
    font-size: 12px !important;
    line-height: 16px !important;
}

@mixin fsize-14 {
    font-size: 14px !important;
    letter-spacing: 0.02em;
    line-height: 18px !important;
}

@mixin fsize-16 {
    font-size: 16px !important;
    letter-spacing: 0.02em;
    line-height: 20px !important;
}

@mixin fsize-18 {
    font-size: 18px !important;
    letter-spacing: 0.02em;
    line-height: 22px !important;
}

@mixin fsize-20 {
    font-size: 20px !important;
    letter-spacing: 0.02em;
    line-height: 24px !important;
}

@mixin fsize-28 {
    font-size: 28px !important;
    letter-spacing: 0.02em;
    line-height: 32px !important;
}

@mixin fsize-32 {
    font-size: 32px !important;
    letter-spacing: 0.02em;
    line-height: 36px !important;
}

@mixin fsize-36 {
    font-size: 36px !important;
    letter-spacing: 0.02em;
    line-height: 42px !important;
}
